* {
  box-sizing: border-box;
  font-size: 16px;
}

html {
  font-family: 'Overpass', 'Ubuntu', sans-serif;
}

body {
  background: white;

  p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
  }
}