* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}

html {
  font-family: 'Overpass', 'Ubuntu', sans-serif;
}

body {
  background: white;

  p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
  }
}

header {
  background: $lightredGradient;
  height: 80vh;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0 100px;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-background-image {
  // Summary: Set our background image—with a backup color—, set the image to be centered with no repeat and cover the div. An abosulte position places it out of the flow of other elements and the z-index places it in the background.
  background-image: url(/assets/images/bg-pattern-intro.svg);
  // background-color: $lightredGradient;
  // background-position: top -80px right -480px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  width: 120vw;
  height: 120vh;
  z-index: 0;
}

