// Primary
$lightRed: hsl(356, 100%, 66%);
$verylightRed: hsl(355, 100%, 74%);
$darkBlue: hsl(208 , 49%, 24%);

// Neutral
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(240, 49%, 24%);
$darkgrayishBlue: hsl(207, 13%, 34%);
$darkblackBlue: hsl (240, 10%, 16%);

// Gradients
$lightredGradient: linear-Gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$darkblueGradient: linear-Gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));